.font-ubuntu {
    font-family: "Ubuntu", sans-serif;
}

.font-cuprum {
    font-family: "Cuprum", sans-serif;
}

.font-spartan {
    font-family: 'Spartan', sans-serif;
}

.font-sanchez {
    font-family: 'Sanchez', serif;
}

.font-didcat {
    font-family: 'Didact Gothic', sans-serif;
}

.font-rowdies {
    font-family: 'Rowdies', cursive;
}

.font-slabo27 {
    font-family: 'Slabo 27px', serif;
}

.font-abrilfatface {
    font-family: 'Abril Fatface', cursive;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.image-cover {
    box-shadow: 5px 10px 8px #888888;
    background-size: cover;

    animation: animate 16s ease-in-out infinite;
    background-image: linear-gradient(-130deg, rgba(0, 0, 0, 0.8), rgba(100, 167, 87, .38)), url("../images/tool-1.jpg");
}

@keyframes animate {

    0%,
    100% {
        background-image: linear-gradient(-130deg, rgba(0, 0, 0, 0.8), rgba(100, 167, 87, .38)), url("../images/tool-1.jpg");
        ;
    }

    25% {
        background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(196, 86, 190, .6)), url("../images/buiding.jpg");
    }

    50% {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(100, 167, 87, .6)), url("../images/phone.jpg");
    }

    75% {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(100, 167, 87, .38)), url('../images/crane.jpg');
    }
}

.move-uward {
    animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite
}

@keyframes flip4 {
    0% {
        margin-top: -360px;
    }

    5% {
        margin-top: -270px;
    }

    25% {
        margin-top: -270px;
    }

    30% {
        margin-top: -180px;
    }

    50% {
        margin-top: -180px;
    }

    55% {
        margin-top: -90px;
    }

    75% {
        margin-top: -90px;
    }

    80% {
        margin-top: 0px;
    }

    99.99% {
        margin-top: -270px;
    }

    100% {
        margin-top: -360px;
    }
}

.flip {
    animation: slide 10s linear infinite
}

@keyframes slide {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(0, -400px, 0);
    }
}

.hide {
    display: none;
}

@media screen and (max-width: 1024px) {
    .hide {
        display: block;
    }

    .navhide {
        display: none
    }
}